
<ion-content padding class="cards-bathroom" (load)="autoRefresh()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="icon-poo" pullingText="Puxe para recarregar" refreshingSpinner="circles" refreshingText="Recarregando...">
    </ion-refresher-content>
  </ion-refresher>

 
  <div class="holder">
    <ul class="container">
        <li class="hexa">
            <div class="front">
                <img *ngIf="status[0] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
                <img *ngIf="status[0] == 'Ocupado' && minutes[0] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
                <img *ngIf="status[0] == 'Ocupado' && minutes[0] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/argentina.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Argentina')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[1] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[1] == 'Ocupado' && minutes[1] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[1] == 'Ocupado' && minutes[1] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/australia.png"  class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Austrália')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[2] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[2] == 'Ocupado' && minutes[2] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[2] == 'Ocupado' && minutes[2] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/brazil.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Brasil')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[3] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[3] == 'Ocupado' && minutes[3] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[3] == 'Ocupado' && minutes[3] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/canada.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Canadá')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[4] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[4] == 'Ocupado' && minutes[4] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[4] == 'Ocupado' && minutes[4] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/china.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro China')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[5] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[5] == 'Ocupado' && minutes[5] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[5] == 'Ocupado' && minutes[5] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/england.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Ingraterra')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[6] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[6] == 'Ocupado' && minutes[6] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[6] == 'Ocupado' && minutes[6] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/france.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro França')">
                    Reportar <br>Problema!
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[7] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[7] == 'Ocupado' && minutes[7] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[7] == 'Ocupado' && minutes[7] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/germany.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Alemanha')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[8] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[8] == 'Ocupado' && minutes[8] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[8] == 'Ocupado' && minutes[8] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/italy.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Italia')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[9] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[9] == 'Ocupado' && minutes[9] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[9] == 'Ocupado' && minutes[9] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/japan.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Japão')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[10] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[10] == 'Ocupado' && minutes[10] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[10] == 'Ocupado' && minutes[10] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/portugal.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Protugal')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
        <li class="hexa">
            <div class="front">
              <img *ngIf="status[11] == 'Disponível'" src="../../assets/imgs/happy-poop.svg?v=1" >
              <img *ngIf="status[11] == 'Ocupado' && minutes[11] < 15" src="../../assets/imgs/poop-pooping.svg?v=1" >
              <img *ngIf="status[11] == 'Ocupado' && minutes[11] >= 15" src="../../assets/imgs/dead-poop.svg?v=1">
                <img src="../../assets/imgs/flags/united-states.png" class="flag">
            </div>
            <div class="back">
                <button class="repor" (click)="unread('Banheiro Estados Unidos')">
                    Reportar <br>Problema! 
                </button>
            </div>
        </li>
    </ul>
</div>

</ion-content>
