<ion-header>
  <ion-navbar color="orangeFC">
    <ion-title>
      Banheiros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (load)="autoRefresh()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="icon-poo" pullingText="Puxe para recarregar" refreshingSpinner="circles" refreshingText="Recarregando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            Legenda:
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-badge class="itemLegend" icon-start color="secondary">
                <ion-icon name="happy"></ion-icon>
                Disponível
              </ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge class="itemLegend" icon-start color="danger">
                <ion-icon name="warning"></ion-icon>
                Ocupado
              </ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge class="itemLegend" icon-start color="brownFC">
                <ion-icon class="icon-poo" name="icon-poo"></ion-icon>
                Ocupado a mais de 15 minutos
              </ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge class="itemLegend" icon-start color="darkFC">
                <ion-icon class="icon-skull" name="icon-skull"></ion-icon>
                Ocupado a mais de 30 minutos!
              </ion-badge>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            Mapa:
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngIf="showContent">

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon *ngIf="status[0] == 'Disponível'" class="imgToilet-happy" name="happy"></ion-icon>
                  <ion-icon *ngIf="status[0] == 'Ocupado' && minutes[0] < 15" class="imgToilet-warning" name="warning"></ion-icon>
                  <ion-icon *ngIf="status[0] == 'Ocupado' && minutes[0] > 15 && minutes[0] < 30" class="imgToilet" name="icon-poo"></ion-icon>
                  <ion-icon *ngIf="status[0] == 'Ocupado' && minutes[0] > 30" class="imgToilet-death" name="icon-skull"></ion-icon>

                  <ul *ngIf="status[0] == 'Ocupado'">
                    <li> Banheiro Corinthians </li>
                    <li class="li"> {{status[0]}} há </li>
                    <li *ngIf="hours[0] > 0" class="li li2">{{hours[0]}}</li>
                    <li *ngIf="hours[0] > 0" class="li li2"> horas e </li>
                    <li class="li li2">{{minutes[0]}}</li>
                    <li class="li li2">minutos</li>
                  </ul>

                  <ul *ngIf="status[0] == 'Disponível'">
                    <li> Banheiro Corinthians </li>
                    <li class="li"> {{status[0]}} </li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="unread('Banheiro Corinthians')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon *ngIf="status[1] == 'Disponível'" class="imgToilet-happy" name="happy"></ion-icon>
                  <ion-icon *ngIf="status[1] == 'Ocupado' && minutes[1] < 15" class="imgToilet-warning" name="warning"></ion-icon>
                  <ion-icon *ngIf="status[1] == 'Ocupado' && minutes[1] > 15 && minutes[1] < 30" class="imgToilet" name="icon-poo"></ion-icon>
                  <ion-icon *ngIf="status[1] == 'Ocupado' && minutes[1] > 30" class="imgToilet-death" name="icon-skull"></ion-icon>

                  <ul *ngIf="status[1] == 'Ocupado'">
                    <li> Banheiro Santos </li>
                    <li class="li"> {{status[1]}} há </li>
                    <li *ngIf="hours[1] > 0" class="li li2">{{hours[1]}}</li>
                    <li *ngIf="hours[1] > 0" class="li li2"> horas e </li>
                    <li class="li li2">{{minutes[1]}}</li>
                    <li class="li li2">minutos</li>
                  </ul>

                  <ul *ngIf="status[1] == 'Disponível'">
                    <li> Banheiro Santos </li>
                    <li class="li"> {{status[1]}} </li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="unread('Banheiro Corinthians')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon *ngIf="status[2] == 'Disponível'" class="imgToilet-happy" name="happy"></ion-icon>
                  <ion-icon *ngIf="status[2] == 'Ocupado' && minutes[2] < 15" class="imgToilet-warning" name="warning"></ion-icon>
                  <ion-icon *ngIf="status[2] == 'Ocupado' && minutes[2] > 15 && minutes[2] < 30" class="imgToilet" name="icon-poo"></ion-icon>
                  <ion-icon *ngIf="status[2] == 'Ocupado' && minutes[2] > 30" class="imgToilet-death" name="icon-skull"></ion-icon>

                  <ul *ngIf="status[2] == 'Ocupado'">
                    <li> Banheiro São Paulo </li>
                    <li class="li"> {{status[2]}} há </li>
                    <li *ngIf="hours[2] > 0" class="li li2">{{hours[2]}}</li>
                    <li *ngIf="hours[2] > 0" class="li li2"> horas e </li>
                    <li class="li li2">{{minutes[2]}}</li>
                    <li class="li li2">minutos</li>
                  </ul>

                  <ul *ngIf="status[2] == 'Disponível'">
                    <li> Banheiro São Paulo </li>
                    <li class="li"> {{status[2]}} </li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="unread('Banheiro Corinthians')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon *ngIf="status[3] == 'Disponível'" class="imgToilet-happy" name="happy"></ion-icon>
                  <ion-icon *ngIf="status[3] == 'Ocupado' && minutes[3] < 15" class="imgToilet-warning" name="warning"></ion-icon>
                  <ion-icon *ngIf="status[3] == 'Ocupado' && minutes[3] > 15 && minutes[3] < 30" class="imgToilet" name="icon-poo"></ion-icon>
                  <ion-icon *ngIf="status[3] == 'Ocupado' && minutes[3] > 30" class="imgToilet-death" name="icon-skull"></ion-icon>

                  <ul *ngIf="status[3] == 'Ocupado'">
                    <li> Banheiro Palmeiras </li>
                    <li class="li"> {{status[3]}} há </li>
                    <li *ngIf="hours[3] > 0" class="li li2">{{hours[3]}}</li>
                    <li *ngIf="hours[3] > 0" class="li li2"> horas e </li>
                    <li class="li li2">{{minutes[3]}}</li>
                    <li class="li li2">minutos</li>
                  </ul>

                  <ul *ngIf="status[3] == 'Disponível'">
                    <li> Banheiro Palmeiras </li>
                    <li class="li"> {{status[3]}} </li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color="danger" (click)="unread('Banheiro Corinthians')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              


        

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet-death" name="icon-skull"></ion-icon>
                  <ul>
                    <li> Banheiro São Paulo</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">32</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro São Paulo')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Flamengo</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Flamengo')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Fluminense</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Fluminense')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Vasco</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Vasco')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Botafogo</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>

                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Botafogo')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Cruzeiro</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Cruzeiro')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Atlético Mineiro</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Atlético Mineiro')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding class="itemSliding" #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Internacional</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Internacional')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>

              <ion-item-sliding #item>
                <ion-item>
                  <ion-icon class="imgToilet" name="icon-poo"></ion-icon>
                  <ul>
                    <li> Banheiro Grêmio</li>

                    <li class="li">Ocupado há</li>
                    <li class="li li2">22</li>
                    <li class="li li2">minutos</li>
                  </ul>
                </ion-item>

                <ion-item-options side="right">
                  <button ion-button color ="danger" (click)="unread('Banheiro Grêmio')">Notificar Problema</button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>