page-home {
}

.itemLegend{
    height: 30px;
    margin-bottom:10px;
    padding-top:7px;
    border-radius:2px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.45);
}


.itemMap{
    padding:3px;
    font-family: Verdana, Tahoma, sans-serif;
    color:white;

}
#item3{
    background-color: #ffc107;
}
ul{
    list-style-type: none;
}

.imgToilet{
    width: 70px;
    height:70px;
    float:left;
    margin-right:20px;
    border-radius:50%;
}
.itemSliding{
    border-bottom: solid 1px #ccc;
}

.time{
    margin-top:-50px;
    clear:both;
    float:right;
}
.li{
    display: inline;
}